* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #222;
}

/* Шапка */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 30px;
    border-bottom: 1px solid #e5e5e5;
}

.logo {
    font-size: 16px;
    font-weight: 700;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.phone {
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger span {
    width: 30px;
    height: 3px;
    background: #000;
    border-radius: 3px;
}

.hero{
    background:
        linear-gradient(rgba(0,0,0,.55),
        rgba(0,0,0,.55)),
        url("img/demontazh.jpg");

    background-size: cover;
    background-position: center;

    text-align: center;
    padding: 120px 20px;
    color: white;
}

.hero-title{
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 0.95;
}

.big{
    display: block;
    font-size: 72px;
    font-weight: 900;
    color: #fff; /* белый */
}

.middle{
    display: block;
    margin-top: 10px;
    font-size: 42px;
    font-weight: 800;
    color: #fff; /* белый */
}

.orange{
    display: block;
    margin-top: 10px;
    font-size: 52px;
    font-weight: 900;
    color: #ff7a00;
}

.hero-text{
    margin-top: 25px;
    font-size: 24px;
    color: #fff;
}
